body {
  max-width:750px;
  min-width: 320px;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  font-size: 24px;
   }

   .w, .h {
    color: #ffffff
    }

/*header*/
#header {
  width: 100%;
  background-color: #2d7053;
  padding-top: 47px;
  padding-bottom: 47px;
  }

  .h {
    display: inline-block;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 30px;
    }

  #circle {
    height: 140px;
    width: 140px;
    background-color: white;
    border: white solid 1px;
    border-radius: 70px;
    margin-left: 47px;
    margin-right: 56px;
  }

  #kabinet {
  margin-top: 0;
  margin-right: 220px;
  }

  #gambyrger {
  margin-bottom: 36px;
     }

     .r {
    width: 82px;
    height: 10px;
    background-color: #ffffff;
    border: white solid 1px;
    border-radius: 5px;
    margin-bottom: 16px;
     }

    .r1 {
      width: 82px;
    height: 10px;
    background-color: #ffffff;
    border: white solid 1px;
    border-radius: 5px;
    }

     /*end of header*/
     .picture {
       width: 750px;
       height: 466px;
       background-image: url("111.png");
       background-repeat: no-repeat;
     }

  .botton {
    display: inline-block;
    margin-left: 184px;
    margin-top: 345px;
    width: 341px;
    height: 72px; 
    padding-left: 44px;
    background-color: #cb9223;
    }

  /*end of screen with photo*/
 
    .conteiner {
      height: 327px;
    }

   .photo {
    width: 248px;
    height: 248px;
    background-image: url("222.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 74px;
    margin-left: 44px;
    margin-top: 73px;
    }

  .box {
    display: inline-block;
    text-align:left;
    vertical-align: top;
    padding-top: 131px;
    }

  .imya {
    font-size: 36px;
    margin-bottom: 36px;
     }

     .text {
      padding-left: 44px;
      }

#prichinu {
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
}
  .botton1 {
    width: 341px;
    height: 72px; 
    padding-left: 44px;
    background-color: #cb9223;
    margin-left: 184px;
    margin-bottom: 54px;
    margin-top: 50px;
  }

#zapis {
  display: inline-block;
  margin-top: 25px;
}

/*end block of text*/

   .footer {
     width: 750px;
     height: 153px;
     background-color: #888888
     }

  #circle2 {
    height: 96px;
    width: 96px;
    background-color: white;
    border: white solid 1px;
    border-radius: 70px;
    margin-left: 44px;
    margin-right: 160px;
    margin-top: 28px;
    margin-bottom: 24px;
    display: inline-block;
   }

#tel {
  display: inline-block;
  font-size: 18px;
  padding-left: 5px;
  padding-bottom: 20px;
  }

.box2 {
  display: inline-block;
  width: 158px;
  vertical-align: top;
  margin-top: 47px;
}

#mail {
  display: inline-block;
  font-size: 18px;
 }

#adress {
   display: inline-block;
   font-size: 18px;
   margin-right: 24px;
   vertical-align: top;
   margin-top: 100px;
 }
